<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<!-- 별칭등록이 이뤄지는 공간 -->
	<typeAliases>
	<typeAlias type="com.kh.spring.member.model.vo.Member" alias="Member"/>
	<typeAlias type="com.kh.spring.board.model.vo.Board" alias="Board"/>
	</typeAliases>
	
	<!-- DB접속과 관련있는 내용을 여기에 작성 => 하지만 다른곳에서 작성할거 -->
	
	
	<!-- mappers 테그만 달게됨. -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
	</mappers>

</configuration>
